.create-account-input-container {
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 10px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.keywords-create-account-wrapper {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    position:relative;
}
.option-keywords-text {
    padding-bottom:10px;
    padding-top:10px;
    font-weight: bold;
    font-size: 14px;
}
.close-modal {
    z-index:3;
}
.create-account-title {
    display:block;
    font-size:22px;
    margin-bottom: 20px;
}
.btn-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100%!important;
    margin-top: 30px;
}
.btn-container button {
    width: 70%;
    font-weight: bold;
}
.create-account-input-label {
    margin-top:0;
    margin-left: 10px!important;
    font-size: 13px;
    font-weight: bold;
}
.create-account-input-container input {
    padding-left:10px;
}
.card-input-container {
    height: 50px;
    background-color: #202020;
    display:inline-block;
    width:80%;
    margin-top: 20px;
    vertical-align: middle;
    padding-top:15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}