.edit-video-container {
    background-color: #202020;
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 50px;
    position: relative;
    padding-bottom: 60px;
}
.edit-video {
    min-height: 100vh;
}
.editing-border {
    border: 1px solid #f0ad4e!important;
}
.success-border {
    border: 1px solid #5cb85c!important;
}
.delete-video-title {
    font-weight: bold!important;
}
.delete-thumbnail {
    width: 250px;
    margin-bottom: 25px;
}
.editing-text{
    left: 0;
    position: absolute;
    margin-left: 12%;
    font-size: 12px;
    margin-top: 3px;
}
.edit-video-sub-container {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}
.edit-video-title {
    font-size: 24px;
    color:white;
    text-align: left;
}
.tags-container {
    position: relative;
    width: 100%;
    background-color: #282828;
    border:0;
    outline: none;
    color: white;
    padding: 0px;
}
.label {
    color: white;
    text-align:left;
    margin-bottom: 2px;
    margin-top: 20px;
}
.keywords-list {
    margin-top: 20px;
}
.button-list {
    position: absolute;
    right: 0;
}
.button-list li {
    display: inline-block;
    width: 120px!important;
}
.add-tag-btn {
    position: absolute;
    right:0;
    padding:0px 5px!important;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 6px;
    margin-right: 6px;
}
.title-input {
    width: 100%;
    background-color: #282828;
    border:0;
    outline: none;
    color: white;
    padding: 8px;
}