.desktop-logo {
    width:120px;
}
.mobile-logo {
    width: 20px;
}
.header {
    width:80%;
    margin-top:5px;
    text-align:left;
}
.login-home-btn {
    padding: 3px 5px!important;
    font-size: 15px!important;
    font-weight: bold!important;

}
.coming-soon-text {
    position:absolute;
    right:0;
}
.logo-link {
    top:0;
    padding:0!important;
    margin-left:8%;
    margin-top: 7px;
}
.header ul {
    margin-top:0;
    padding-left: 0px;
}
.header ul li{
    display: inline-block;
    /* padding:10px 60px; */
    text-align:left;
}
.header ul li a {
    color:white!important;
}
.search-li {
    position:absolute;
    width:50%;
    padding:2px;
}
/* mobile styles */
@media only screen and (max-width: 725px) {
    .desktop-logo {
        display:none;
    }
    .logo-link {
        top:0;
        padding:0!important;
        margin-left:8%;
        margin-top: 7px;
    }
 }
/* desktop styles */
@media only screen and (min-width: 725px) {
    .mobile-logo {
        display:none;
    }
    .logo-link {
        top:0;
        padding:0!important;
        margin-left:8%;
        margin-top: 10px;
    }
 }