.videos-container ul li
{
    width:265px;
    display: inline-block;
    margin-left:10px;
    margin-right: 10px;
}
.no-liked-videos {
    margin-top: 50px;
}
/* desktop styles */
@media only screen and (min-width: 725px) {
    .videos-container {
        margin-top: 20px;
    }
}
/* mobile styles */
@media only screen and (max-width: 725px) {
    .videos-container {
        margin-top: 20px;
    }
    .videos-container ul {
        padding-left: 0px;
    }
  }