
.helper-text {
    font-size: 13px;
    font-weight: bold;
}
.bio-msg {
    margin-top: 10px;
}
.limit-reached {
    font-size: 16px!important;
    margin-top:30px;
}
.settings-label {
    font-size: 28px;
    margin-top:40px;
}
/* desktop styles */
@media only screen and (min-width: 725px) {
    .keywords-settings-wrapper {
        text-align:center;
        margin-left:auto;
        margin-right:auto;
        width:50%;
        position:relative;
    }
    .settings-wrapper {
        padding: 0% 20%;
    }
    .settings-upgrade-acct {
        width: 200px!important;
        font-weight: bold!important;
        margin-top: 20px;
    }
    .update-bio-input {
        width:50%;
        background-color: #282c34;
        border:0;
        outline: none;
        color: white;
        padding:8px;
        margin-bottom: 10px;
    }
}
/* mobile styles */
@media only screen and (max-width: 725px) {
    .keywords-settings-wrapper {
        text-align:center;
        margin-left:auto;
        margin-right:auto;
        width:60%;
        position:relative;
    }
    .settings-wrapper {
        padding: 0% 5%;
    }
    .update-bio-input {
        width:70%;
        background-color: #282c34;
        border:0;
        outline: none;
        color: white;
        padding:8px;
        margin-bottom: 10px;
    }
  }