.update-bio-input {
    width:40%;
    background-color: #131313;
    border:0;
    outline: none;
    color: white;
    padding:8px;
    margin-bottom: 10px;
}
.helper-text {
    font-size: 13px;
    font-weight: bold;
}