.single-video {
    width: 640px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:50px;
}
.-frame {
    min-height:300px;
    width:100%;
    /* background-color:black; */
}
.single-video-title {
    color:white;
    font-size:18px;
    text-align: left;
    margin-top:10px;
    margin-bottom:0;
}
.single-creator-name, .view-count{
    color:#d4d4d4;
    font-size: 13px;
}
.single-creator-name a {
    color: white;
}
.creator-text {
    padding-left: 10px;
}
.single-view-count{
    text-align:left;
    width:100px;
    color:#d4d4d4;
    position: absolute;
    left:0;
    font-size: 15px;
    font-weight: bold;
}
.video-actions-list {
    position:relative;
    min-height:50px;
}
.video-actions-list ul li {
    font-size: 15px;
}
.creator-label {
    font-style: italic;
    text-align: left;
    display:block;
    color:#d4d4d4;
    margin-top: -8px;
    margin-left:40px;
    font-size:14px;
}
.description-label {
    text-align: left;
    display:block;
    color:white;
    font-weight: bold;
    margin-bottom: 2px;
    font-size:14px;
}
.video-description {
    text-align: left;
}
/* mobile styles */
@media only screen and (max-width: 725px) {
    .single-video {
        width: 90%!important;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:50px;
    }
  }