.user-menu ul li {
    color:#d4d4d4;
    padding:0px 20px;
    cursor: pointer;
}
.user-image {
    width:30px;
}
.user-menu {
    position:absolute;
    right:0;
    top:0;
    margin-right:80px;
    margin-top:12px;
}
.notification-badge {
    background-color:#dc3545;
    position:absolute;
    color:white;
    border-radius:10px;
    padding:1px 7px;
    font-size:12px;
    font-weight:bold;
    margin-top:-30px;
    margin-left:20px;
}
.user-dropdown-container {
    width:300px;
    min-height: 200px;
    background-color:#1b1e23;
    margin-right:auto;
    margin-left:auto;
    display:inline-block;
    border-radius: 10px;
    position:absolute;
}
.user-dropdown-title {
    font-size:20px;
    color: white;
    padding:10px;
}