.user-profile-image {
    width:120px;
}
.user-profile-name {
    color: white;
    font-size: 22px;
    margin-bottom:5px;
}
.oops-user {
    margin-top: 50px;
}
.profile-bio {
    color:white;
    font-size:18px;
    outline: none;
    padding: 15px 5px;
    border: 0px!important;
    width: 100%;
    
}
.edit-bio {
    cursor: pointer;
}
.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
.not-focused-bio {
    background-color: #181818;
}
.profile-bio-container {
    position: relative;
}
.focused-bio {
    background-color: #202020;
}
.bio-icons {
    text-align:right;
}
.bio-icons ul {
    margin-bottom: 0;
}
.bio-icons ul li {
    display: inline-block;
    margin-right:10px;
    cursor: pointer;
}
.profile-video-container {
    margin-left:auto;
    margin-right:auto;
    width:90%;
}
.profile-header {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:400px;
    margin-top: 40px;
}
.video-label {
    margin-bottom:5px;
    font-size: 22px;
}
.actions-list {
    margin-top:20px;
    margin-bottom:20px;
}
.active {
    border-bottom: 2px solid #007bff;
}
.actions-list li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.video-row {
    width: 100%;
    min-height: 200px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.video-row ul {
    padding:0;
    display:table-row;
    width:100%;
}
.video-row ul li {
    margin-right:30px!important;
    display: inline-block!important;
    flex-direction: row;
    vertical-align: top;
    margin-left:20px;
    margin-right:20px;
}
.user-content-container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.video-item {
    width:265px!important;
    border-radius:20px;
    text-align:left;
    color: white;
    display: inline-block;
    position: relative;
}